# Dependencies
node_modules/

# Playwright output
test-results/
playwright-report/
blob-report/
playwright/.cache/

# Allure report
allure-results/

# Screenshots & env
screenshots/
.env

# OS files
.DS_Store

# Logs
*.log
npm-debug.log*